# Server setup
MgmtHost=172.20.0.1
MgmtPort=8080
REMOTE_USER=root
REMOTE_HOST=172.20.0.10
REMOTE_SSH_PORT=22
REMOTE_BIN_DIR=/home/anyadmin/bin
REMOTE_SRC_DIR=/home/anyadmin/src

# Model Paths
VLLM_MODEL_PATH=/home/anyadmin/data/model

# Default login account
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password


