version: '3.8'
services:
  inference:
    image: vllm/vllm-openai:latest
    container_name: vllm-llama3
    ports:
      - "8000:8000"
    volumes:
      - ~/data/model/llama3:/model
    command: --model /model --max-model-len 4096 --gpu-memory-utilization 0.85 --served-model-name Qwen3-1.7B
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]